.checkout-form {
  counter-reset: counter;
  &__block {
    counter-increment: counter;
    background: #f8faff;
    border-radius: 16px;
    padding: 14px;

    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: var(--third-family);
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.02em;
    color: #1c202d;
    margin-bottom: 20px;
    &::before {
      content: counter(counter);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      font-weight: 600;
      font-size: 12px;
      letter-spacing: -0.02em;
      color: #020817;
      border-radius: 100%;
      background: #e5ebff;
    }
  }
}
