.delivery {
  margin-bottom: 80px;
  @include small-tablet {
    margin-bottom: 40px;
  }
  @include mobile {
    margin-bottom: 24px;
  }
  &__title {
    margin-bottom: 40px;
    @include small-tablet {
      margin-bottom: 24px;
    }
  }

  &__subtitle {
    margin-bottom: 24px;
  }
}

.zones {
  &:not(:last-child) {
    margin-bottom: 40px;
    @include small-tablet {
      margin-bottom: 24px;
    }
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
    background: #5168c0;
    border-radius: 30px;

    @include small-tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__map {
    grid-column: 3 span;
    border-radius: 18px;
    overflow: hidden;
    position: relative;
    filter: saturate(0);

    @include small-tablet {
      height: 324px;
    }
  }
  &__table {
    overflow: hidden;
    border-radius: 18px;
    grid-column: 2 span;
    padding: 10px;
    background-color: #fff;
    th,
    td {
      width: 33%;
      background: #f6f8ff;
      border-radius: 10px;
      padding: 18px 24px;
      text-align: center;
      font-weight: 500;
      font-size: 16px;
      color: #000;
      @media (max-width: 1250px) {
        padding: 18px 10px;
        &:nth-child(1) {
          width: 20%;
        }
        &:nth-child(2),
        &:nth-child(3) {
          width: 40%;
        }
      }
      @include mobile {
        font-size: 14px;
      }
      @media (max-width: 350px) {
        font-size: 12px;
      }
    }

    th {
      color: #33499e;
    }
  }
}

.del-addr {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding: 10px;
  border-radius: 24px;
  background: #eef3ff;
  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }
  &:not(:last-child) {
    margin-bottom: 40px;
    @include small-tablet {
      margin-bottom: 24px;
    }
  }
  &__address {
    font-style: normal;
    background-color: #fff;
    border-radius: 16px;
    padding: 24px;
  }

  &__title {
    margin: 0;
    margin-bottom: 14px;
    font-family: var(--third-family);
    font-weight: 700;
    font-size: 24px;
    letter-spacing: -0.02em;
    color: #000;
  }
  &__desc {
    font-family: var(--second-family);

    font-size: 16px;
    line-height: 137%;
    color: #000;

    b {
      font-weight: 600;
    }
    ol,
    ul {
      padding-left: 1rem;
    }
  }
}

.del-rules {
  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: #eef3ff;
    border-radius: 24px;
    padding: 10px;

    @include small-tablet {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  &__item {
    border-radius: 16px;
    padding: 20px;
    background-color: #fff;
    width: calc(33% - 10px);
    @include small-tablet {
      width: 100%;
    }
    &:nth-child(5n + 1) {
      width: calc(50% - 5px);
      @include small-tablet {
        width: 100%;
      }
    }
    &:nth-child(5n + 2) {
      width: calc(50% - 5px);
      @include small-tablet {
        width: 100%;
      }
    }

    p {
      margin: 0;
      b {
        font-weight: 600;
        font-size: 18px;
        line-height: 1.15;
        @include small-tablet {
          margin-bottom: 4px;
          font-size: 16px;
        }
      }
      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }
  }
}
