.promo {
  margin-bottom: 80px;
  @include small-tablet {
    margin-bottom: 40px;
  }
  @include mobile {
    margin-bottom: 24px;
  }
  &__title {
    margin-bottom: 40px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    @include tablet {
      grid-template-columns: repeat(4, 1fr);
    }
    @include small-tablet {
      grid-template-columns: repeat(3, 1fr);
    }
    @include mobile {
      grid-template-columns: repeat(2, 1fr);
    }
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}
