.sidebar {
  grid-column: 3 span;
  @include tablet {
    grid-column: 5 span;
  }
  @include small-tablet {
    display: none;
  }
  &--mob {
    display: none;
    @include small-tablet {
      display: block;
    }
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 15px;
    background: #f0f4ff;
    border-radius: 10px;
    margin-bottom: 4px;
    cursor: pointer;

    svg {
      transition: 0.2s ease-in;
    }

    &.active {
      svg {
        transform: rotateZ(180deg);
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    @include small-tablet {
      transition: max-height 0.3s ease-in;
      will-change: max-height;
      max-height: 0;
      overflow: hidden;
    }
  }
  &__link {
    display: flex;
    padding: 14px;
    padding-right: 32px;
    border-radius: 10px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 14px;
    color: #000;

    background-color: #f1f4ff;
    transition: 0.2s ease-in;

    @include hover {
      background-color: #fde047;
    }
  }

  &__act {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 14px;
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 14px;
    color: #fff;
    background-color: #dc002a;
    svg {
      display: block;
      flex-shrink: 0;
      width: 24px;
      aspect-ratio: 1 / 1;
    }
  }
}
