.single-prod {
  margin-bottom: 40px;
  @include mobile {
    margin-bottom: 24px;
  }
  &__title {
    margin-bottom: 24px;
    @include small-tablet {
      font-size: 28px;
      margin-bottom: 10px;
    }
  }

  &__slider {
    min-width: 0;
    max-width: 100%;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__tab {
    width: 189px;
    border: 1px solid #e5ebff;
    border-radius: 10px;
    padding: 14px 24px;
    font-weight: 500;
    font-size: 14px;
    color: #5168c0;
    text-align: center;
    cursor: pointer;
    transition: 0.2s ease-in;
    @include hover {
      background-color: #5168c0;
      color: #fff;
    }
    @include small-tablet {
      width: auto;
      padding: 12px 24px;
    }

    &.swiper-slide-thumb-active {
      background-color: #5168c0;
      color: #fff;
    }
  }
  &__main {
    min-width: 0;
    max-width: 100%;
  }
  &__images {
    max-width: 45%;
    width: 100%;
    flex-shrink: 0;

    .swiper-slide img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    @include small-tablet {
      display: none;
      max-width: 100%;
      margin-bottom: 20px;
    }
    &--mob {
      display: none;
      @include small-tablet {
        display: block;
      }
    }
  }

  &__thumbs-wrapper {
    position: relative;
    padding: 0 24px;
    margin-top: 10px;
  }

  &__buttons {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__arr {
    color: #1c202d;
    cursor: pointer;
    svg {
      fill: currentColor;
    }

    &--next {
      transform: rotate(180deg);
    }

    &.swiper-button-disabled {
      color: #98a3cc;
      pointer-events: none;
    }
  }

  &__gallery {
    border: 1px solid #eef3ff;
  }
  &__left {
    display: flex;
    gap: 40px;
  }

  &__thumbs {
    border: none;
    &__img {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 6px;
      aspect-ratio: 1 / 1;
      border: 1px solid #eef3ff;
      cursor: pointer;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    gap: 40px;

    @media (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }
  }

  &__content {
    grid-column: 10 span;
    min-width: 0;
    max-width: 100%;
  }

  &__summary {
    grid-column: 3 span;
  }

  &__have {
    border-radius: 14px;
    padding: 6px;
    background: #eef3ff;

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 8px;
      padding: 10px 14px;
      background-color: #fff;
      & > span {
        font-size: 14px;
        line-height: 157%;
        &:nth-child(1) {
          font-weight: 400;
          color: #868ca4;
        }
        &:nth-child(2) {
          font-weight: 600;

          color: #1c202d;
        }
      }
      &:not(:last-child) {
        margin-bottom: 4px;
      }
    }
  }
}

.single-sum {
  &__buttons {
    display: flex;
    gap: 10px;
  }
  &__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    background-color: #fff;
    @include small-tablet {
      margin: 0 auto;
    }
    @include mobile {
      width: 100%;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__info {
    flex: 1;
  }

  &__list {
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    li {
      display: flex;
      align-items: center;
      gap: 20px;
      &:not(:last-child) {
        margin-bottom: 14px;
        padding-bottom: 14px;
        border-bottom: 1px solid #e5ebff;
      }
      span {
        min-width: 140px;
        font-size: 14px;
        &:nth-child(1) {
          font-weight: 400;
          color: #868ca4;
        }
        &:nth-child(2) {
          font-weight: 500;
          color: #1c202d;
        }
      }
    }
  }

  &__desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 157%;
    color: #1c202d;

    p {
      margin: 0;
    }
  }

  &__btn {
    flex-grow: 1;
    max-width: 100%;
    &--pin {
      max-width: 66px;
      flex-shrink: 0;

      position: relative;

      span {
        position: absolute;
        right: 20px;
        bottom: 8px;
        font-size: 12px;
        font-weight: 600;
        color: #1c202d;
      }
    }
  }
}

.prod-card {
  background: #eef3ff;
  padding: 16px;
  border-radius: 14px;
  border: none;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 500;
    font-size: 15px;
    color: #1c202d;

    &:not(:last-child) {
      margin-bottom: 16px;
    }
    @include small-tablet {
      font-size: 16px;
    }
  }
  &__cart {
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    @include small-tablet {
      display: flex;
      gap: 10px;

      .products-item__minus,
      .products-item__plus {
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
    @media (max-width: 390px) {
      flex-direction: column;
    }
  }
  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > span {
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 20px;
      line-height: 80%;
      color: #1c202d;
      & > span {
        line-height: inherit;
        font-weight: 600;
        font-size: 16px;
      }

      @include small-tablet {
        &:first-child {
          font-size: 16px;
        }
        &:last-child {
          font-size: 24px;
        }
      }
    }
  }
  &__count {
    display: flex;
    gap: 4px;
    &:not(:last-child) {
      margin-bottom: 10px;
      @include small-tablet {
        margin: 0;
      }
    }
    button {
      width: 46px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      font-weight: 600;
      font-size: 16px;
      color: #1c202d;
    }

    input {
      border: none;
      flex: 1;
      border-radius: 10px;
      padding: 12px 20px;
      text-align: center;
      font-weight: 600;
      font-size: 20px;
      color: #1c202d;
      @include small-tablet {
        font-size: 18px;
      }
      @include mobile {
        width: 65px;
        font-size: 16px;
      }
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
      }

      &:focus {
        outline: none;
      }
    }
  }
}
