<section class="cart">
  <div class="container">
    <h1 class="cart__title title2">Корзина</h1>
    <div class="cart__container">
      <div class="cart__items">
        <div class="cart__item cart-item products-item">
          <div class="cart-item__info">
            <div class="cart-item__img">
              <img src="./img/cart/01.webp" alt="" />
            </div>
            <div class="cart-item__content">
              <a href="#" class="cart-item__name"
                >Арматура стальная 10 мм / А3</a
              >
              <p class="cart-item__desc"><span>Тип цены — </span>розничная</p>
            </div>
          </div>
          <div class="cart-item__count">
            <div class="cart-item__col">
              <p class="cart-item__price">399 ₽ / шт.</p>
              <p class="cart-item__text">цена за 1 шт.</p>
            </div>
            <div class="cart-item__num products-item__btn products-item__count">
              <div class="products-item__minus">
                <svg
                  width="6"
                  height="2"
                  viewBox="0 0 6 2"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M5.08381 0V1.48153H0.5V0H5.08381Z" fill="#1C202D" />
                </svg>
              </div>
              <input
                type="number"
                class="input-reset products-item__input"
                value="1"
                min="1"
                max="1000"
                readonly
              />
              <div class="products-item__plus">
                <svg
                  width="8"
                  height="7"
                  viewBox="0 0 8 7"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.1598 6.88068V0H4.72088V6.88068H3.1598ZM0.5 4.22088V2.6598H7.38068V4.22088H0.5Z"
                    fill="#1C202D"
                  />
                </svg>
              </div>
            </div>
            <div class="cart-item__total"><span>798</span> ₽</div>
            <button class="btn-reset cart-item__rm">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2.24023 13.6448L13.7602 2.12479"
                  stroke="#98A3CC"
                  stroke-width="1.06667"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2.24023 2.12479L13.7602 13.6448"
                  stroke="#98A3CC"
                  stroke-width="1.06667"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="cart__item cart-item products-item">
          <div class="cart-item__info">
            <div class="cart-item__img">
              <img src="./img/cart/01.webp" alt="" />
            </div>
            <div class="cart-item__content">
              <a href="#" class="cart-item__name"
                >Арматура стальная 10 мм / А3</a
              >
              <p class="cart-item__desc"><span>Тип цены — </span>розничная</p>
            </div>
          </div>
          <div class="cart-item__count">
            <div class="cart-item__col">
              <p class="cart-item__price">399 ₽ / шт.</p>
              <p class="cart-item__text">цена за 1 шт.</p>
            </div>
            <div class="cart-item__num products-item__btn products-item__count">
              <div class="products-item__minus">
                <svg
                  width="6"
                  height="2"
                  viewBox="0 0 6 2"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path d="M5.08381 0V1.48153H0.5V0H5.08381Z" fill="#1C202D" />
                </svg>
              </div>
              <input
                type="number"
                class="input-reset products-item__input"
                value="1"
                min="1"
                max="1000"
                readonly
              />
              <div class="products-item__plus">
                <svg
                  width="8"
                  height="7"
                  viewBox="0 0 8 7"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M3.1598 6.88068V0H4.72088V6.88068H3.1598ZM0.5 4.22088V2.6598H7.38068V4.22088H0.5Z"
                    fill="#1C202D"
                  />
                </svg>
              </div>
            </div>
            <div class="cart-item__total"><span>798</span> ₽</div>
            <button class="btn-reset cart-item__rm">
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M2.24023 13.6448L13.7602 2.12479"
                  stroke="#98A3CC"
                  stroke-width="1.06667"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M2.24023 2.12479L13.7602 13.6448"
                  stroke="#98A3CC"
                  stroke-width="1.06667"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="cart__total cart-total">
        <div class="cart-total__total">
          Итого
          <span>1596 ₽</span>
        </div>
        <div class="cart-total__desc">Общий вес: 9.3 кг</div>
        <a href="#" class="cart-total__btn btn btn-reset btn--red"
          >Оформить заказ</a
        >
      </div>
    </div>
  </div>
</section>
