<aside class="sidebar sidebar--mob" data-dropdown>
  <div class="sidebar__btn" data-dropdown-btn>
    Категории товаров

    <svg
      width="14"
      height="14"
      viewBox="0 0 14 14"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M2.52629 5.15047C2.67468 5.15047 2.82372 5.18932 2.95496 5.2739L7.06362 7.87776L11.045 5.24821C11.4018 5.02329 11.8826 5.11476 12.1193 5.45371C12.3574 5.79141 12.2611 6.24941 11.9043 6.47433L7.49361 9.37579C7.23443 9.54119 6.89479 9.54119 6.63429 9.37704L2.0963 6.50127C1.73951 6.27635 1.64257 5.8171 1.87999 5.4794C2.03035 5.26513 2.27634 5.15047 2.52629 5.15047Z"
        fill="#1C202D"
      />
    </svg>
  </div>
  <ul class="list-reset sidebar__list" data-dropdown-content>
    <li class="sidebar__item">
      <a href="#" class="sidebar__act">
        Акции

        <svg
          width="25"
          height="24"
          viewBox="0 0 25 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M4.35203 14.8323L2.75419 13.2515C2.10244 12.6067 2.10244 11.5459 2.75419 10.9011L4.35203 9.32029C4.62534 9.04989 4.8461 8.51948 4.8461 8.14508V5.90906C4.8461 4.99386 5.60297 4.24508 6.52804 4.24508H8.78815C9.16658 4.24508 9.7027 4.02672 9.97602 3.75631L11.5739 2.17549C12.2256 1.53069 13.2978 1.53069 13.9496 2.17549L15.5474 3.75631C15.8208 4.02672 16.3569 4.24508 16.7353 4.24508H18.9954C19.9205 4.24508 20.6774 4.99386 20.6774 5.90906V8.14508C20.6774 8.51948 20.8981 9.04989 21.1714 9.32029L22.7693 10.9011C23.421 11.5459 23.421 12.6067 22.7693 13.2515L21.1714 14.8323C20.8981 15.1027 20.6774 15.6331 20.6774 16.0075V18.2434C20.6774 19.1586 19.9205 19.9075 18.9954 19.9075H16.7353C16.3569 19.9075 15.8208 20.1259 15.5474 20.3963L13.9496 21.9771C13.2978 22.6219 12.2256 22.6219 11.5739 21.9771L9.97602 20.3963C9.7027 20.1259 9.16658 19.9075 8.78815 19.9075H6.52804C5.60297 19.9075 4.8461 19.1586 4.8461 18.2434V16.0075C4.8461 15.6227 4.62534 15.0923 4.35203 14.8323Z"
            fill="white"
          />
          <path
            d="M9.61987 15.1855L15.9272 8.9455"
            stroke="#DC002A"
            stroke-width="1.81132"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M15.3958 14.6655H15.4053"
            stroke="#DC002A"
            stroke-width="2.26415"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M10.1396 9.46552H10.1492"
            stroke="#DC002A"
            stroke-width="2.26415"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Сыпучие материалы</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Кирпич</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Строительные блоки</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Пиломатериалы</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Металлопрокат и стеклопластик</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Гидроизоляция и звукоизоляция</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Кровельные материалы</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Фасадные материалы</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Клей. Пена. Герметики</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Лестничная группа</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Сухие смеси и комплектующие</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Заборы и ограждения</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Крепеж</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Вентиляция и дымоходы</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Утеплители</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Инструменты</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Хозтовары</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Отопление и водоснабжение</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Плёнки. Мембраны. Ленты.</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Строительная химия</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Отделочные материалы</a>
    </li>
    <li class="sidebar__item">
      <a href="#" class="sidebar__link">Сантехника</a>
    </li>
  </ul>
</aside>
