<section class="single-prod">
  <div class="container">
    <h1 class="single-prod__title title2">
      Адаптер для слива конденсата А-5350 // 16/20/32х50мм // ORIO
    </h1>

    <div class="single-prod__container">
      <div class="single-prod__content">
        <div class="single-prod__images single-prod__images--mob">
          <div class="single-prod__gallery swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="single-sum__img">
                  <img src="./img/catalog/sad/01.webp" alt="" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="single-sum__img">
                  <img src="./img/catalog/sad/01.webp" alt="" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="single-sum__img">
                  <img src="./img/catalog/sad/01.webp" alt="" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="single-sum__img">
                  <img src="./img/catalog/sad/01.webp" alt="" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="single-sum__img">
                  <img src="./img/catalog/sad/01.webp" alt="" />
                </div>
              </div>
              <div class="swiper-slide">
                <div class="single-sum__img">
                  <img src="./img/catalog/sad/01.webp" alt="" />
                </div>
              </div>
            </div>
          </div>
          <div class="single-prod__thumbs-wrapper">
            <div class="single-prod__thumbs swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="single-sum__img">
                    <img src="./img/catalog/sad/01.webp" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="single-sum__img">
                    <img src="./img/catalog/sad/01.webp" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="single-sum__img">
                    <img src="./img/catalog/sad/01.webp" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="single-sum__img">
                    <img src="./img/catalog/sad/01.webp" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="single-sum__img">
                    <img src="./img/catalog/sad/01.webp" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="single-sum__img">
                    <img src="./img/catalog/sad/01.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="single-prod__buttons">
              <div class="single-prod__arr single-prod__arr--prev ">
                <svg width="8" height="18" viewBox="0 0 8 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M7.15925 16.3577C7.15925 16.1203 7.0971 15.8818 6.96177 15.6719L2.7956 9.09801L7.00287 2.72781C7.36275 2.15695 7.21639 1.38772 6.67407 1.0089C6.13375 0.627977 5.40096 0.782035 5.04108 1.35289L0.398748 8.41003C0.134102 8.82472 0.134102 9.36814 0.396743 9.78494L4.99798 17.0457C5.35786 17.6166 6.09265 17.7717 6.63297 17.3918C6.97581 17.1512 7.15925 16.7577 7.15925 16.3577Z" />
                </svg>
              </div>
              <div class="single-prod__arr single-prod__arr--next">
                <svg width="8" height="18" viewBox="0 0 8 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M7.15925 16.3577C7.15925 16.1203 7.0971 15.8818 6.96177 15.6719L2.7956 9.09801L7.00287 2.72781C7.36275 2.15695 7.21639 1.38772 6.67407 1.0089C6.13375 0.627977 5.40096 0.782035 5.04108 1.35289L0.398748 8.41003C0.134102 8.82472 0.134102 9.36814 0.396743 9.78494L4.99798 17.0457C5.35786 17.6166 6.09265 17.7717 6.63297 17.3918C6.97581 17.1512 7.15925 16.7577 7.15925 16.3577Z" />
                </svg>
              </div>
            </div>
          </div>
        </div>
        <div class="single-prod__slider swiper">
          <div class="single-prod__tabs swiper-wrapper">
            <div class="single-prod__tab swiper-slide">Описание</div>
            <div class="single-prod__tab swiper-slide">Характеристики</div>
            <div class="single-prod__tab swiper-slide">Отзывы</div>
            <div class="single-prod__tab swiper-slide">Документы</div>
            <div class="single-prod__tab swiper-slide">Вопросы</div>
          </div>
        </div>
        <div class="single-prod__left">

          <div class="single-prod__images">
            <div class="single-prod__gallery swiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="single-sum__img">
                    <img src="./img/catalog/sad/01.webp" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="single-sum__img">
                    <img src="./img/catalog/sad/01.webp" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="single-sum__img">
                    <img src="./img/catalog/sad/01.webp" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="single-sum__img">
                    <img src="./img/catalog/sad/01.webp" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="single-sum__img">
                    <img src="./img/catalog/sad/01.webp" alt="" />
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="single-sum__img">
                    <img src="./img/catalog/sad/01.webp" alt="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="single-prod__thumbs-wrapper">
              <div class="single-prod__thumbs swiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="single-sum__img">
                      <img src="./img/catalog/sad/01.webp" alt="" />
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="single-sum__img">
                      <img src="./img/catalog/sad/01.webp" alt="" />
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="single-sum__img">
                      <img src="./img/catalog/sad/01.webp" alt="" />
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="single-sum__img">
                      <img src="./img/catalog/sad/01.webp" alt="" />
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="single-sum__img">
                      <img src="./img/catalog/sad/01.webp" alt="" />
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="single-sum__img">
                      <img src="./img/catalog/sad/01.webp" alt="" />
                    </div>
                  </div>
                </div>
              </div>
              <div class="single-prod__buttons">
                <div class="single-prod__arr single-prod__arr--prev ">
                  <svg width="8" height="18" viewBox="0 0 8 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.15925 16.3577C7.15925 16.1203 7.0971 15.8818 6.96177 15.6719L2.7956 9.09801L7.00287 2.72781C7.36275 2.15695 7.21639 1.38772 6.67407 1.0089C6.13375 0.627977 5.40096 0.782035 5.04108 1.35289L0.398748 8.41003C0.134102 8.82472 0.134102 9.36814 0.396743 9.78494L4.99798 17.0457C5.35786 17.6166 6.09265 17.7717 6.63297 17.3918C6.97581 17.1512 7.15925 16.7577 7.15925 16.3577Z" />
                  </svg>
                </div>
                <div class="single-prod__arr single-prod__arr--next">
                  <svg width="8" height="18" viewBox="0 0 8 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M7.15925 16.3577C7.15925 16.1203 7.0971 15.8818 6.96177 15.6719L2.7956 9.09801L7.00287 2.72781C7.36275 2.15695 7.21639 1.38772 6.67407 1.0089C6.13375 0.627977 5.40096 0.782035 5.04108 1.35289L0.398748 8.41003C0.134102 8.82472 0.134102 9.36814 0.396743 9.78494L4.99798 17.0457C5.35786 17.6166 6.09265 17.7717 6.63297 17.3918C6.97581 17.1512 7.15925 16.7577 7.15925 16.3577Z" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="single-prod__main swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="single-sum">
                  <div class="single-sum__info">
                    <ul class="single-sum__list list-reset">
                      <li>
                        <span>Артикул</span>
                        <span>1049083</span>
                      </li>
                      <li>
                        <span>Наименование</span>
                        <span>Адаптер для слива конденсата</span>
                      </li>
                      <li>
                        <span>Производитель</span>
                        <span>ORIO</span>
                      </li>
                      <li>
                        <span>Материал</span>
                        <span>Полипропилен</span>
                      </li>
                      <li>
                        <span>Размер</span>
                        <span>16/20/32х50 мм</span>
                      </li>
                    </ul>
                    <div class="single-sum__desc">
                      <p>
                        Адаптер для подключения слива конденсата и воды из
                        кондиционеров, водонагревателей, котлов, фильтров,
                        стиральных и посудомоечных машин в канализационные трубы
                        и отводы.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="single-sum">
                  <div class="single-sum__info">
                    <ul class="single-sum__list list-reset">
                      <li>
                        <span>Артикул</span>
                        <span>1049083</span>
                      </li>
                      <li>
                        <span>Наименование</span>
                        <span>Адаптер для слива конденсата</span>
                      </li>
                      <li>
                        <span>Производитель</span>
                        <span>ORIO</span>
                      </li>
                      <li>
                        <span>Материал</span>
                        <span>Полипропилен</span>
                      </li>
                      <li>
                        <span>Размер</span>
                        <span>16/20/32х50 мм</span>
                      </li>
                    </ul>
                    <div class="single-sum__desc">
                      <p>
                        Адаптер для подключения слива конденсата и воды из
                        кондиционеров, водонагревателей, котлов, фильтров,
                        стиральных и посудомоечных машин в канализационные трубы
                        и отводы.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="single-sum">
                  <div class="single-sum__info">
                    <div class="single-testi">
                      <div class="single-testi__label">Нет отзывов об&nbsp;этом товаре.</div>
                      <p class="single-testi__title subtitle1">
                        Написать отзыв
                      </p>
                      <div class="single-testi__rate">
                        <div class="star-rating" id="starRating">
                          <input type="hidden" name="rating" id="ratingInput" value="0">
                          <button type="button" class="star-btn" data-rating="1" aria-label="Rate 1 star out of 5">
                            <svg class="star" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                            </svg>
                          </button>
                          <button type="button" class="star-btn" data-rating="2" aria-label="Rate 2 stars out of 5">
                            <svg class="star" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                            </svg>
                          </button>
                          <button type="button" class="star-btn" data-rating="3" aria-label="Rate 3 stars out of 5">
                            <svg class="star" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                            </svg>
                          </button>
                          <button type="button" class="star-btn" data-rating="4" aria-label="Rate 4 stars out of 5">
                            <svg class="star" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                            </svg>
                          </button>
                          <button type="button" class="star-btn" data-rating="5" aria-label="Rate 5 stars out of 5">
                            <svg class="star" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                            </svg>
                          </button>
                        </div>
                        <span>Оцените покупку</span>
                      </div>
                      <form action="#" class="single-sum__form form">
                        <div class="form__grid">
                          <label class="form__label">
                            <input type="text" name="Имя" placeholder="Ваше имя" class="form__input" />
                          </label>
                          <label class="form__label">
                            <input type="email" name="email" placeholder="Email" class="form__input" />
                          </label>
                          <textarea name="Отзыв" placeholder="Поделитесь мнением о товаре"
                            class="form__input form__area" id=""></textarea>
                        </div>
                        <div class="single-sum__buttons">
                          <input type="file" name="file" multiple id="file-input"
                            class="single-sum__file visually-hidden">
                          <label for="file-input" class="btn-reset btn btn--light single-sum__btn single-sum__btn--pin"
                            id="pinBtn">
                            <img src="./img/pin.svg" alt="">
                            <span>0</span>
                          </label>
                          <button type="submit" class="btn-reset btn btn--primary form__btn single-sum__btn"
                            id="submitBtn">
                            <span class="btn__text">Отправить</span>
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="single-sum">
                  <div class="single-sum__info">
                    <ul class="single-sum__list list-reset">
                      <li>
                        <span>Артикул</span>
                        <span>1049083</span>
                      </li>
                      <li>
                        <span>Наименование</span>
                        <span>Адаптер для слива конденсата</span>
                      </li>
                      <li>
                        <span>Производитель</span>
                        <span>ORIO</span>
                      </li>
                      <li>
                        <span>Материал</span>
                        <span>Полипропилен</span>
                      </li>
                      <li>
                        <span>Размер</span>
                        <span>16/20/32х50 мм</span>
                      </li>
                    </ul>
                    <div class="single-sum__desc">
                      <p>
                        Адаптер для подключения слива конденсата и воды из
                        кондиционеров, водонагревателей, котлов, фильтров,
                        стиральных и посудомоечных машин в канализационные трубы
                        и отводы.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="single-sum">
                  <div class="single-sum__info">
                    <ul class="single-sum__list list-reset">
                      <li>
                        <span>Артикул</span>
                        <span>1049083</span>
                      </li>
                      <li>
                        <span>Наименование</span>
                        <span>Адаптер для слива конденсата</span>
                      </li>
                      <li>
                        <span>Производитель</span>
                        <span>ORIO</span>
                      </li>
                      <li>
                        <span>Материал</span>
                        <span>Полипропилен</span>
                      </li>
                      <li>
                        <span>Размер</span>
                        <span>16/20/32х50 мм</span>
                      </li>
                    </ul>
                    <div class="single-sum__desc">
                      <p>
                        Адаптер для подключения слива конденсата и воды из
                        кондиционеров, водонагревателей, котлов, фильтров,
                        стиральных и посудомоечных машин в канализационные трубы
                        и отводы.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="single-prod__summary">
        <div class="single-prod__card prod-card products-item">
          <div class="prod-card__price">
            <span> Цена за штуку</span>
            <span>135 руб.</span>
          </div>
          <div class="prod-card__cart">
            <div class="prod-card__count">
              <button class="btn-reset products-item__minus">-</button>
              <input type="number" value="1" min="1" max="1000" />
              <button class="btn-reset products-item__plus">+</button>
            </div>
            <a href="#" class="products-item__btn btn btn--yellow">
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M6.37637 5.82033L6.71935 7.06173C7.04268 8.23207 7.20435 8.81727 7.67968 9.08347C8.15495 9.3496 8.75835 9.1928 9.96501 8.8792L11.2449 8.5466C12.4517 8.233 13.055 8.0762 13.3295 7.61513C13.6039 7.15413 13.4422 6.56896 13.1189 5.39859L12.7759 4.1572C12.4526 2.98682 12.2909 2.40163 11.8156 2.13546C11.3403 1.86929 10.7369 2.0261 9.53021 2.3397L8.25028 2.67233C7.04355 2.98593 6.44022 3.14273 6.16579 3.60375C5.89136 4.06476 6.05303 4.64995 6.37637 5.82033Z"
                  fill="#1C202D" />
                <path
                  d="M1.51833 3.49792C1.59215 3.23183 1.86771 3.07597 2.1338 3.1498L3.2696 3.46492C3.88086 3.63451 4.3646 4.10573 4.53335 4.71655L5.96737 9.90722L6.0729 10.2716C6.49499 10.4292 6.85753 10.7244 7.0876 11.1164L7.29427 11.0526L13.2077 9.51589C13.4749 9.44642 13.7479 9.60676 13.8174 9.87402C13.8869 10.1413 13.7265 10.4142 13.4592 10.4837L7.56767 12.0148L7.34853 12.0825C7.34407 12.9298 6.75947 13.7036 5.87491 13.9335C4.81459 14.209 3.72473 13.5988 3.44061 12.5704C3.15651 11.542 3.78574 10.4849 4.84605 10.2094C4.8986 10.1957 4.95121 10.1842 5.0038 10.1748L3.56946 4.98284C3.49728 4.72157 3.28598 4.50724 3.00225 4.42852L1.86645 4.1134C1.60036 4.03957 1.4445 3.76401 1.51833 3.49792Z"
                  fill="#1C202D" />
              </svg>
              В корзину
            </a>
          </div>
          <div class="prod-card__total">
            <span>Итого</span>
            <span>270 <span>руб.</span></span>
          </div>
        </div>
        <ul class="list-reset single-prod__have">
          <li>
            <span>В&nbsp;наличии</span>
            <span>6</span>
          </li>
          <li>
            <span>Доставка</span>
            <span>Завтра</span>
          </li>
          <li>
            <span>Самовывоз</span>
            <span>Завтра</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>